<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhun | Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <!------------BODY HTML STARTS FROM HERE------------------------>



    <!------------LEFT AND RIGHT TOP SECTION STARTS FROM-------------->
    <section class="double-section">
        <div class="double-container" style="height: 100vh;">
            <%- include('partials/left-container'); %>
            <div class="right-container">
                <div class="right-content">
                    <%- include('partials/side-header'); %>
                    <div class="banner-content">
                        <h2>You're Profile</h2>
                        <img src="/<%=user.avatar%>" alt="" class="artist-profile">
                        <h2><%=user.fullName%></h2>
                        <p>Artist Name : <%=user.fullName%></p>
                        <p>Total Songs: <%=totalSongs %></p>

                        <a href="http://" class="esewa-img"><img src="assets/images/esewa.svg" alt=""></a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!--------------LEFT AND RIGHT TOP SECTION ENDS FROM HERE--------------------->





    <!---------------BODY HTML ENDS FROM HERE-------------------------->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>