<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dhun | Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    </head>

<body>
    <!------------BODY HTML STARTS FROM HERE------------------------>



    <!------------LEFT AND RIGHT TOP SECTION STARTS FROM-------------->
    <section class="double-section">
        <div class="double-container" style="height: 100vh;">
            <%- include('partials/left-container'); %>
            <div class="right-container">
                <%- include('partials/side-header'); %>
                <h1 style="color: #FFF;">Songs In <%=categoryName%> Category</h1>
                <div class="genre-whole-box">
                    <div class="genre-content-box mb-30">
                        <div class="genre-music-box">
                            <% songsInThisCat.forEach(function(item) { %>

                                <a href="/one-song/<%= item.id %>">
                                    <div class="genre-single-box">
                                        <img src="/<%= item.poster %>" alt="">
                                        <h3><%= item.title %></h3>
                                        <p>Likes: <%= item.likes %> </p>
                                    </div>
                                </a>
                              <% }); %>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------LEFT AND RIGHT TOP SECTION ENDS FROM HERE--------------------->





    <!---------------BODY HTML ENDS FROM HERE-------------------------->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>