<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhun | Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <!------------BODY HTML STARTS FROM HERE------------------------>



    <!------------LEFT AND RIGHT TOP SECTION STARTS FROM-------------->
    <section class="double-section">
        <div class="double-container">
            <div class="left-container">
                <div class="left-content">
                    <!-- <h1>LOGO</h1> -->
                    <img src="/assets/images/logodhun.png" alt="">
                    <ul>
                        <li><a href="/">
                                <div class="link-img"><img src="/assets/images/home.svg" alt="">Home</div>
                            </a></li>
                        <li><a href="/browse">
                                <div class="link-img"><img src="/assets/images/browse.svg" alt="">Browse</div>
                            </a></li>
                        <li><a href="/library">
                                <div class="link-img"><img src="/assets/images/library.svg" alt="">Library</div>
                            </a></li>
                    </ul>
                    <div class="playlist-creation-logout">
                        <a href="/playlist">
                            <img src="/assets/images/plus.svg" alt="">
                            <p>Create Playlist</p>
                        </a>
                        <a href="/liked-list">
                            <img src="/assets/images/love-playlist.svg" alt="">
                            <p>Liked Songs</p>
                        </a>
                        <a href="#" class="mt-45 ml-20">
                            <img src="/assets/images/setting.svg" alt="">
                            <p>Setting</p>
                        </a>
                        <a href="/logout" class="ml-20">
                            <img src="/assets/images/logout.svg" alt="">
                            <p>LogOut</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="right-content">
                    <div class="wrap">
                        <form action="/search" class="searchform" method="post">
                            <div class="search-inside-flex">
                                <a href="#"><img src="assets/images/search.svg" alt=""></a>
                                <input type="text" name="query" placeholder="Search artists, songs, albums...">
                            </div>                                                                                                                                                                                                                                                                                                                                                                                                              
                            <a href="#"><img src="/assets/images/mic.svg" alt=""></a>
                            <button type="submit"  id="btnSearch" >SEARCH</button>
                        </form>
                    </div>
                    <div class="signup-button-flex">
                        <a href="http://"><img src="/assets/images/profilepic.png" alt=""></a>
                    </div>
                    <div class="banner-content" >
                        <h2>Now Playing</h2>
                        
                        <img src="/<%= song.poster %>" alt="" style="width: 450px; height: auto;">
                        <div class="master_play">
                            
                            <img src="/<%= song.poster %>" alt="Alan" id="poster_master_play">
                            <h5 id="title"><%= song.title %><br>
                                <div class="subtitle"><%= song.user.fullName %></div>
                            </h5>
                           
                            <span id="currentStart"> <%= song.createdAt %></span>
                            
                           
                            <audio autoPlay loop controls>
                                <source src="/<%= song.audioPath %>"></source>
                              </audio>  
                            <img style="cursor: pointer;" id="likeButton" data-song-id="<%= song.id %>" src="/assets/images/love-icon.svg" alt="" srcset="" style="width: 20px; height: auto; margin-left: 15px">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <!--------------LEFT AND RIGHT TOP SECTION ENDS FROM HERE--------------------->





    <!---------------BODY HTML ENDS FROM HERE-------------------------->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script>
        document.getElementById('likeButton').addEventListener('click', function() {
  var songId = this.getAttribute('data-song-id');
  function sendLikeToBackend(songId) {
  // Replace with your backend URL
  var url = `http://localhost:8000/like/${songId}`;

  // Prepare the data to send
  var data = { songId: songId };

  // Use fetch API to send the data
  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => response.json())
  .then(data => console.log(data))
  .catch((error) => {
    console.error('Error:', error);
  });
}
  sendLikeToBackend(songId);
});
    </script>
</body>

</html>